<a href="https://colab.research.google.com/github/floyedmuchiri/git_practice/blob/main/data_manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
info_table = [
    {"color": "green", "number": 7},
    {"color": "red", "number": 2},
    {"color": "orange", "number": 1}
]

type(info_table)

list

In [7]:
import pandas as pd

df = pd.DataFrame(info_table)
print(df['color'])

0     green
1       red
2    orange
Name: color, dtype: object

In [12]:
import csv
import json

In [22]:
info_table.extend(['yellow']) = 8

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (<ipython-input-22-b312e44c0556>, line 1)

In [23]:
primes = [2,3,4,5,7,2,9]

In [24]:
doubleprimes = [x*2 for x in primes]
doubleprimes

[4, 6, 8, 10, 14, 4, 18]

In [26]:
doubleprimes = [x*2 for x in primes if x>4]
doubleprimes

[10, 14, 18]

In [30]:
mydict = dict(zip(range(5), 'aeiou'))
mydict

{0: 'a', 1: 'e', 2: 'i', 3: 'o', 4: 'u'}

In [33]:
[v for k, v in mydict.items() if k % 4 ==0]

['a', 'u']

In [1]:
nums = set(range(1000))

In [2]:
oddnums = [x for x in nums if x % 2 ==1]
oddnums

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99,
 101,
 103,
 105,
 107,
 109,
 111,
 113,
 115,
 117,
 119,
 121,
 123,
 125,
 127,
 129,
 131,
 133,
 135,
 137,
 139,
 141,
 143,
 145,
 147,
 149,
 151,
 153,
 155,
 157,
 159,
 161,
 163,
 165,
 167,
 169,
 171,
 173,
 175,
 177,
 179,
 181,
 183,
 185,
 187,
 189,
 191,
 193,
 195,
 197,
 199,
 201,
 203,
 205,
 207,
 209,
 211,
 213,
 215,
 217,
 219,
 221,
 223,
 225,
 227,
 229,
 231,
 233,
 235,
 237,
 239,
 241,
 243,
 245,
 247,
 249,
 251,
 253,
 255,
 257,
 259,
 261,
 263,
 265,
 267,
 269,
 271,
 273,
 275,
 277,
 279,
 281,
 283,
 285,
 287,
 289,
 291,
 293,
 295,
 297,
 299,
 301,
 303,
 305,
 307,
 309,
 311,
 313,
 315,
 317,
 319,
 321,
 323,
 325,
 327,
 329,
 331,
 333,
 335,
 337,
 339,
 341,
 343,
 345,
 347,
 349,
 351,
 353,
 355,
 357,
 359,
 361,
 363,
 365,
 367,
 369,
 371,
 373,
 375,
 377,
 379,
 381,
 383,
 385,
 387,
 389,
 391,
 393,
 395,
 397,
 399,
 401,
 403,
 405,
 407,
 409,
 411,
 413,
 415,
 417,
 419,
 421,
 423,
 425,
 427,
 429,
 431,
 433,
 435,
 437,
 439,
 441,
 443,
 445,
 447,
 449,
 451,
 453,
 455,
 457,
 459,
 461,
 463,
 465,
 467,
 469,
 471,
 473,
 475,
 477,
 479,
 481,
 483,
 485,
 487,
 489,
 491,
 493,
 495,
 497,
 499,
 501,
 503,
 505,
 507,
 509,
 511,
 513,
 515,
 517,
 519,
 521,
 523,
 525,
 527,
 529,
 531,
 533,
 535,
 537,
 539,
 541,
 543,
 545,
 547,
 549,
 551,
 553,
 555,
 557,
 559,
 561,
 563,
 565,
 567,
 569,
 571,
 573,
 575,
 577,
 579,
 581,
 583,
 585,
 587,
 589,
 591,
 593,
 595,
 597,
 599,
 601,
 603,
 605,
 607,
 609,
 611,
 613,
 615,
 617,
 619,
 621,
 623,
 625,
 627,
 629,
 631,
 633,
 635,
 637,
 639,
 641,
 643,
 645,
 647,
 649,
 651,
 653,
 655,
 657,
 659,
 661,
 663,
 665,
 667,
 669,
 671,
 673,
 675,
 677,
 679,
 681,
 683,
 685,
 687,
 689,
 691,
 693,
 695,
 697,
 699,
 701,
 703,
 705,
 707,
 709,
 711,
 713,
 715,
 717,
 719,
 721,
 723,
 725,
 727,
 729,
 731,
 733,
 735,
 737,
 739,
 741,
 743,
 745,
 747,
 749,
 751,
 753,
 755,
 757,
 759,
 761,
 763,
 765,
 767,
 769,
 771,
 773,
 775,
 777,
 779,
 781,
 783,
 785,
 787,
 789,
 791,
 793,
 795,
 797,
 799,
 801,
 803,
 805,
 807,
 809,
 811,
 813,
 815,
 817,
 819,
 821,
 823,
 825,
 827,
 829,
 831,
 833,
 835,
 837,
 839,
 841,
 843,
 845,
 847,
 849,
 851,
 853,
 855,
 857,
 859,
 861,
 863,
 865,
 867,
 869,
 871,
 873,
 875,
 877,
 879,
 881,
 883,
 885,
 887,
 889,
 891,
 893,
 895,
 897,
 899,
 901,
 903,
 905,
 907,
 909,
 911,
 913,
 915,
 917,
 919,
 921,
 923,
 925,
 927,
 929,
 931,
 933,
 935,
 937,
 939,
 941,
 943,
 945,
 947,
 949,
 951,
 953,
 955,
 957,
 959,
 961,
 963,
 965,
 967,
 969,
 971,
 973,
 975,
 977,
 979,
 981,
 983,
 985,
 987,
 989,
 991,
 993,
 995,
 997,
 999]

In [5]:
names =['floyed muchiri', 'hellen murungi', 'kim baariu', 'mugendi peter']

splits = [name.split() for name in names]
splits

[['floyed', 'muchiri'],
 ['hellen', 'murungi'],
 ['kim', 'baariu'],
 ['mugendi', 'peter']]

In [15]:
innitials = [name1[0]+"."+name2[0] for (name1, name2) in splits]
innitials

['f.m', 'h.m', 'k.b', 'm.p']

In [18]:
st = [name[0] for name in names]

['f', 'h', 'k', 'm']

In [24]:
std = [name for name in names if name[0] == 'k']
std

['kim baariu']

In [25]:
leaders = {'chair': 'Kim',
'sec': 'abraham',
'cord': 'floyed',
'treasurer': 'wycliff'}

leaders

{'chair': 'Kim', 'sec': 'abraham', 'cord': 'floyed', 'treasurer': 'wycliff'}

In [26]:
leaders.items()

dict_items([('chair', 'Kim'), ('sec', 'abraham'), ('cord', 'floyed'), ('treasurer', 'wycliff')])

In [27]:
{k: v + '!' for k, v in leaders.items() if k.startswith('c')}

{'chair': 'Kim!', 'cord': 'floyed!'}

In [29]:
{k: v + '!' for k, v in leaders.items() if k.startswith('c')}

{'chair': 'Kim!', 'cord': 'floyed!'}

In [34]:
{k**2: v**2 for k, v in [(1, 2), (3, 4), (5, 6)]}

{1: 4, 9: 16, 25: 36}

In [35]:
#using zip

dict(zip(range(5), ['apple', 'banana', 'melon', 'mango', 'orange']))

{0: 'apple', 1: 'banana', 2: 'melon', 3: 'mango', 4: 'orange'}

In [36]:
{k:v for k, v in zip(range(5), range(1, 10, 2))}

{0: 1, 1: 3, 2: 5, 3: 7, 4: 9}

In [40]:
scores = ['3:2', '5:1', '1:3']

{'team'+ str(j+1): scores[j] for j in range(3)}

{'team1': '3:2', 'team2': '5:1', 'team3': '1:3'}

In [43]:
list1 = ['USA', 'France', 'Canada', 'Thailand']
list2 = ['New York', 'Paris', 'Ottawa', 'Bankok']

{k:v for k, v in zip(list1, list2)}

{'USA': 'New York',
 'France': 'Paris',
 'Canada': 'Ottawa',
 'Thailand': 'Bankok'}

In [45]:
chars = ['USA', 'France', 'Canada', 'Thailand']
{k:v for k, v in zip(range(4), chars)}

{0: 'USA', 1: 'France', 2: 'Canada', 3: 'Thailand'}

In [52]:
phone_nos = [{'name': 'gregs', 'nums':{'home': 11111, 'work': 12212}},
              {'name': 'max', 'nums':{'home': 22222, 'work': 232323}},
               {'name': 'erin', 'nums':{'home': 333333, 'work': 343434}},
                {'name': 'joel', 'nums':{'home': 444444, 'work': 45454545}},
                 {'name': 'sean', 'nums':{'home': 555555, 'work': 56565656}}]

In [56]:
#ex 1 from list above, make a list of dict where key is the perosns name and value is persons home number

{'name': 'gregs', 'nums': {'home': 11111, 'work': 12212}}

In [75]:
details = []
for detail in phone_nos:

details

ValueError: too many values to unpack (expected 2)

In [63]:
#fxn to find how many times a numb er can be divided by 2

def factors_of_two(num):
  counter = 0
  while num % 2 == 0:
    num /= 2 #( short for num = num/2))
    counter += 1
  return counter

In [65]:
factors_of_two(4)

2